<?xml version="1.0"?>
<launch>
    <arg name="wait_time" default="0.5" />
    <node pkg="ropod_task_executor" type="execution_mockup" name="execution_mockup" output="screen">
        <remap from="~GOTO" to="/ropod_task_executor/GOTO" />
        <remap from="~elevator_request" to="/ropod_com_mediator/elevator_request" />
        <remap from="~elevator_reply" to="/ropod_com_mediator/elevator_request_reply" />
        <remap from="~progress_goto" to="/route_navigation/progress" />
        <param name="wait_time" value="$(arg wait_time)" type="double" />
    </node>
</launch>
