<?xml version="1.0"?>
<launch>
    <node pkg="ropod_task_executor" type="ropod_task_executor" name="ropod_task_executor" output="screen">
        <remap from="~task" to="/ropod_com_mediator/task" />
        <remap from="~elevator_request" to="/ropod_com_mediator/elevator_request" />
        <remap from="~progress_goto_in" to="/demo_navigation/progress" />
    </node>
</launch>
